@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --brand-primary: #0066B3;
  --brand-navy: #003A66;
  --brand-light: #E6F2FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand tokens */
  --color-brand-primary: var(--brand-primary);
  --color-brand-navy: var(--brand-navy);
  --color-brand-light: var(--brand-light);
    --color-warm-orange: #ff6600;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
